/* https://piccalil.li/blog/a-modern-css-reset */

/* Box sizing rules */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Remove default margin */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font: inherit;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
    list-style: none;
    display: flex;
    gap: 25px;
}

/* Set core root defaults */
html:focus-within {
    scroll-behavior: smooth;
}

/* Set core body defaults */
html,
body {
    height: 100%;
    overflow-x: hidden;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
    text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
    max-width: 100%;
    display: block;
}

/* Remove Link decoration */
a {
    text-decoration: none;
    color: inherit;
    font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
    html:focus-within {
        scroll-behavior: auto;
    }

    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

p {
    font-size: 1rem;
    font-size: clamp(1rem, 0.79rem + 0.89vw, 1.125rem);
    line-height: 1.5;
}

.header-xl {
    font-size: 2.5rem;
    font-size: clamp(2.5rem, 0.7rem + 7.68vw, 5.5rem);
    letter-spacing: -0.028em;
    line-height: 1.1;
}

.visually-hidden {
    display: none;
}

a.underline {
    border-bottom: 3px solid hsl(153, 71%, 59%);
    transition: color 250ms ease-in-out;
    text-transform: uppercase;
    padding-bottom: 10px;
    font-size: 20px;
    font-weight: 700;
}

a.underline:hover {
    color: hsl(153, 71%, 59%);
}


/* #region */

body {
    background: hsl(0, 0%, 8%);
    color: white;
    font-family: 'Space Grotesk', sans-serif;
    font-size: 1.125rem;
    margin: 0;
}

.wrapper {
    width: calc(100% - 7rem);
    max-width: 69.375rem;
    margin-inline: auto;
}

@media (max-width: 999px) {
    .wrapper {
        width: calc(100% - 4rem)
    }
}

/* HEADER */
#header {
    position: relative;
    z-index: 1;
    margin-block-start: 30px;
}

#header ul {
    margin-right: 25px;
}

.header_nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.header_nav h2 a {
    font-size: 1.5rem;
    font-size: clamp(1.5rem, 1.02rem + 2.04vw, 2rem);
    color: lightslategray;
    transition: color 250ms ease-in-out;
}

.header_nav h2 a:hover {
    color: hsl(153, 71%, 59%);
}

.header_social>svg>path {
    fill: lightslategray;
    transition: fill 250ms ease-in-out;
}

.header_social:hover>svg>path {
    fill: hsl(153, 71%, 59%);
}

@media (max-width: 599px) {
    .header_nav {
        flex-direction: column;
        gap: 10px;
    }

    #header ul {
        margin-right: 0px;
    }

    #header {
        margin-block-start: 15px;
    }

    ul.header_lists {
        gap: 18px;
    }
}


/* HERO */
.hero_wrapper {
    position: relative;
    padding-bottom: 150px;
    margin-top: 130px;
    border-bottom: 2px solid white;
}

.hero_image {
    position: absolute;
    top: 0;
    margin-top: -210px;
    right: -0;
    width: 55vw;
    max-width: 445px;
}

.avatar {
    aspect-ratio: 1 / 1.65;
    object-fit: cover;
}

.hero_ring {
    position: absolute;
    z-index: -1;
    top: 50px;
    translate: -50% -50%;
    height: auto;
}

.hero_circle {
    position: absolute;
    left: 0;
    bottom: -5%;
    translate: -50% -50%;
}

.hero_text {
    position: relative;
    padding-top: 50px;
    width: 58vw;
    z-index: 1;
}

.hero_text h1 {
    margin-bottom: 60px;
    color: lightgray;
}

.hero_text .break_1 {
    display: none;
}

.hero_text .break_2 {
    display: block;
}

.hero_description {
    margin-bottom: 40px;
    width: 38ch;
}

.header_name {
    border-bottom: 5px solid hsl(153, 71%, 59%);
}

@media (max-width: 999px) {
    .hero_text .break_1 {
        display: inline-block;
    }

    .hero_text .break_2 {
        display: none;
    }

    .hero_circle {
        position: absolute;
        left: initial;
        right: 0px;
        bottom: 0;
        width: 258px;
        height: 258px;
        translate: 50% 40%;
    }

}

@media (max-width: 599px) {
    .hero_wrapper {
        text-align: center;
    }

    .hero_text,
    .hero_description {
        width: 100%;
    }

    .hero_image {
        top: 0;
        right: 50%;
        transform: translate(50%, -15%);
    }

    .hero_text {
        padding-top: 45vw;
    }

    .hero_ring {
        top: -40px;
    }

    .hero_circle {
        right: -50%;
        translate: 40% 50%;
        width: 129px;
        height: 129px;
    }

}

@media (max-width: 425px) {
    .hero_text {
        padding-top: 30vw;
    }
}



/* SKILLS */

.skills_wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 60px 30px;
    padding-block: 70px;
    position: relative;
}

.skills_title {
    font-size: 48px;
    margin-bottom: 5px;
}

.skills_ring {
    position: absolute;
    bottom: -10%;
    right: 0%;
    translate: 50% -50%;
    height: auto;
}

@media (max-width: 999px) {
    .skills_wrapper {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 599px) {
    .skills_wrapper {
        grid-template-columns: 1fr;
        text-align: center;
        gap: 40px;
        padding-block: 40px;
        border-bottom: 2px solid white;
    }
}


/* PROJECTS */
.project_headline {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-block: 40px 70px;
}

.project_grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 70px 30px;
    margin-bottom: 100px;
}

.projects_name {
    font-size: 1.5rem;
    line-height: 1.3;
    font-weight: 700;
    text-transform: uppercase;
    margin-block: 10px 7px;
}

.projects_tags {
    display: flex;
    gap: 20px;
}

.projects_item {
    display: grid;
    grid-template-columns: 1fr;
}

.projects_item>img {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
}

.projects_links {
    grid-row: 1 / 2;
    grid-column: 1 / 2;

    display: flex;
    gap: 20px;
    width: 100%;
    height: 100%;
    background: hsl(0, 0%, 0%, 50%);
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 250ms ease-in-out;
}

.projects_item:hover .projects_links {
    opacity: 1;
}

@media (max-width: 999px) {
    .project_headline {
        padding-top: 100px;
    }

    .projects_links a {
        font-size: 16px;
        font-weight: normal;
        padding-bottom: 7px;
    }

    .projects_links {
        grid-row: auto;
        grid-column: auto;
        margin-top: 15px;

        justify-content: flex-start;
        gap: 30px;
        background: none;
        opacity: 1;
    }
}

@media (max-width: 599px) {
    .project_headline a {
        font-size: 18px;
        padding-bottom: 8px;
    }

    .project_grid {
        grid-template-columns: 1fr;
        text-align: center;
    }

    .projects_tags {
        display: flex;
        gap: 20px;
        justify-content: center;
    }

    .projects_links {
        flex-direction: column;
        gap: 15px;
    }

    .project_headline {
        flex-direction: column;
        gap: 30px;
        margin-block: 40px 20px;
    }
}


/* CONTACT */
#contact {
    background: hsl(0, 0%, 14%);
    padding-block: 50px;
}

.contact_wrapper {
    display: grid;
    grid-template-columns: repeat(2, 27.8rem);
    justify-content: space-between;
    position: relative;
}

.contact_text h2 {
    margin-bottom: 40px;
}

.contact_control {
    position: relative;
}

.contact_control input,
.contact_control textarea {
    width: 100%;
    padding-block: 16px;
    padding-inline: 24px;
    border: none;
    border-bottom: 1px solid hsl(0, 0%, 100%);
    background: transparent;
    font-size: 1rem;
    line-height: 1.625;
    color: hsl(0, 0%, 100%);
    margin-block: 10px;
}

.contact_control input:focus-visible:invalid,
.contact_control textarea:focus-visible:invalid {
    outline-color: hsl(7, 100%, 68%);
    outline-style: dashed;
}

.contact_control input:focus-visible:valid,
.contact_control textarea:focus-visible:valid {
    outline-color: hsl(153, 71%, 59%);
    outline-style: dashed;
}

.contact_control>*::placeholder {
    color: hsl(0, 0%, 100%);
    opacity: 0.5;
    text-transform: uppercase;
}

.contact_invalid-icon {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(-50%, -50%);
    display: none;
}

.contact_control input:focus-visible:invalid~.contact_invalid-icon,
.contact_control textarea:focus-visible:invalid~.contact_invalid-icon {
    display: inline-block;
}

.align-right {
    display: flex;
    justify-content: flex-end;
}

.contact_control button {
    background-color: transparent;
    border: none;
    color: white;
    margin-top: 30px;
    border-bottom: 3px solid hsl(153, 71%, 59%);
    text-transform: uppercase;
    padding-bottom: 10px;
    cursor: pointer;
    transition: color 250ms ease-in-out;
}

.contact_control button:hover {
    color: hsl(153, 71%, 59%);
}

.contact_ring {
    position: absolute;
    bottom: -10%;
    translate: -50% -50%;
    height: auto;
}

@media (max-width: 999px) {
    .contact_wrapper {
        grid-template-columns: 1fr;
        gap: 50px;
        align-items: center;
        justify-content: center;
        text-align: center;
        max-width: 27.5rem;
    }


}


/* FOOTER */
#footer {
    background: hsl(0, 0%, 14%);
    padding-block: 50px;
}

#footer h2 a {
    color: white;
}

#footer .header_social>svg>path {
    fill: white;
}

#footer h2 a:hover {
    color: hsl(153, 71%, 59%);
}

#footer .header_social:hover>svg>path {
    fill: hsl(153, 71%, 59%);
}